body {
	font-size: 20px;
	font-family: 'Roboto Slab', serif;
	color: rgba(0, 0, 0, 0.87);
}

h1 {
	font-family: 'Roboto Condensed', sans-serif;
}

.green {
	background-color: #E8F5E9; 
}

.orange {
	background-color: #FFF3E0;
}

.red {
	background-color: #FFEBEE;
}

.table {
	display: table;
	width: auto;
}

.row {
	position: relative;
	float: left;
	width: auto;
}

.row_content {
	position: relative;
}

.row_background {
	position: absolute;
	height: 100%;
	top: 0;
}

.cell {
	display: table-cell;
	vertical-align: middle;
	padding: 10px;
	border-bottom: 1px solid #BDBDBD;
}

.passed_item {
	color: rgba(0, 0, 0, 0.38);
}

.passed_item .row_background {
	width: 100%;
	background-color: #E1F5FE;
}

.incoming_item {
}

.current_item {
}

#start_time, #time, #time_left {
	width: 50px;
	text-align: center;
}

#description {
	width: 600px;
}

#participant {
	width: 80px;
	font-weight: 700;
}

#cursor {
	width: 90px;
}
